export SERVER_LIST_ID=""
export SERVER_LIST_PRIVATEKEY=""
export API_ID=""
export BOT_NO="" 
export SERVER_TOKEN=""
export SERVER_API_CONSUMER_KEY=""
export KINTONE_SUBDOMAIN=""
export KINTONE_APP_ID=""
export KINTONE_TOKEN=""